name: Deploy Frontend to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - "darce.github.io--next-js-pages-router/**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  FRONTEND_DIR: darce.github.io--next-js-pages-router

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js, cache dependencies, install dependencies
        uses: ./.github/workflows/setup-node
        with:
          working-directory: ${{ env.FRONTEND_DIR }}

      - name: Setup pages
        uses: actions/configure-pages@v4
        with:
          static_site_generator: next

      - name: Build with Next.js
        working-directory: ${{ env.FRONTEND_DIR }}
        run: npx next build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./${{ env.FRONTEND_DIR }}/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
